* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

.main {
  position: relative;
  background-image: url(assets/images/background_img.jpg);
  height: 95vh;
  background-position-x: center;
  background-position-y: 804px;
  background-size: 125%;
}

.main .box {
  position: absolute;
  top: 0;
  height: 95vh;
  width: 100%;
  opacity: 0.7;
  background-color: black;
}

nav {
  padding-top: 1.5rem;
  ;
  width: 78vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  position: relative;
  z-index: 100;
  width: 9.25rem;
  height: 2.5rem;
}

nav button {
  position: relative;
  z-index: 100;
}

.text1 {
  position: relative;
  align-items: center;
  height: 100%;
  color: rgb(255, 255, 255);
}

.hero {
  font-family: 'Martel Sans', sans-serif;
  height: calc(100% - 76px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 23px;
  padding: 0 30px;
}

#hero1 {
  text-align: center;
  font-size: 45px;
  font-family: "Martel Sans", sans-serif;
  font-weight: 900;
}

#hero2 {
  text-align: center;
  font-family: "Martel Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
}

#hero3 {
  text-align: center;
  font-family: "Martel Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.martel-sans-black {
  font-family: "Martel Sans", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.line {

  height: 8px;
  background-color: rgb(53, 53, 53);
}

.btn {
  font-weight: 400;
  font-size: 16px;
  padding-right: 2.25rem;
  line-height: 20px;
  padding: 5px 39px;
  background: transparent;
  color: white;
  border-color: white;
  border-radius: 4px;
  border-width: 1px;
  cursor: pointer;
}

.btn_red {
  margin: 10px;
  border-radius: 4px;
  border-color: white;
  border: none;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
  min-height: 2rem;
  padding: 0.25rem 1rem;
  background: rgb(229, 9, 20);
  color: rgb(255, 255, 255);
}

.btn_red2 {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
  min-height: 3.5rem;
  padding: 0.75rem 1.5rem;
  background: rgb(229, 9, 20);
  color: rgb(255, 255, 255);
  border-radius: 4px;
  border: none;
}

.main input {
  font-size: 16px;
  padding: 16px 174px 16px 16px;
  /* font-size: 1.5rem; */
  font-weight: 500;
  /* padding: 0.75rem 1.5rem; */
  color: rgb(255, 255, 255);
  border-radius: 4px;
  border: 2px solid white;
  background: transparent;

}

.get_start {
  gap: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

section {

  display: flex;
  justify-content: center;
  align-items: center;
}

.first {

  padding: 30px 176px 108px;
}

.first div {
  display: block;
  justify-content: center;
  width: 70vw;
  margin: auto;
  color: white;
  justify-content: center;
  align-items: center;
}

.first h2 {
  font-family: "Martel Sans", sans-serif;
  font-size: 44px;
  font-weight: 900;
}

.first p {
  font-size: 24px;
  font-weight: 400;
  font-family: "Martel Sans", sans-serif;
}

.secimg img {
  top: 37px;
  position: relative;
  width: 39vw;
  right: 0;
  z-index: 10;
}

.secimg {

  position: relative;
}

.secimg video {
  width: 28vw;
  position: absolute;
  top: 133px;
  right: 88px;
}

.second {
  padding-top: 60px;
  padding-bottom: 108px;
  width: 75vw;
  margin: auto;
  display: flex;
  justify-content: center;
}

.sec2img img {
  width: 577px;
}

.second h2 {
  color: white;
  font-family: "Martel Sans", sans-serif;
  font-size: 44px;
  font-weight: 900;
}

.second p {
  color: white;
  font-size: 24px;
  font-weight: 400;
  font-family: "Martel Sans", sans-serif;
}

.third {
  padding-top: 10px;
  padding-bottom: 50px;
  width: 75vw;
  margin: auto;
  display: flex;
  justify-content: center;
}

.third h2 {
  color: white;
  font-family: "Martel Sans", sans-serif;
  font-size: 44px;
  font-weight: 900;
  position: relative;
  bottom: 106px;
  padding-bottom: 0;
}

.third p {
  color: white;
  font-size: 24px;
  font-weight: 400;
  font-family: "Martel Sans", sans-serif;
  position: relative;
  bottom: 80px;
  padding-bottom: 0;
}

.box1 {
  color: white;
  width: 320px;
  top: 1670px;
  align-items: center;
  display: flex;
  background-color: black;
  position: absolute;
  left: 313px;
  border: 2px solid rgba(128, 128, 128, 0.7);
  box-shadow: 0 0 2em 0 rgb(0, 0, 0);
  border-radius: 0.75rem;
  z-index: 1;
}

.phone_img {

  display: flex;
  justify-content: center;
}

.phone_img img {
  position: relative;
  right: 3px;
  padding: 5px 10px;
  width: 60px;
}

.down_phone {
  color: #0071eb;
}

.dow_icon img {
  padding-left: 70px;
  width: 50px;
}

.stranger {
  font-family: "Martel Sans", sans-serif;
  font-weight: 400;
}

.sec3img img {
  padding-top: 60px;
  position: relative;
  z-index: 10;
  padding-bottom: 0;
}

.vid_mac {
  padding-bottom: 0;
  position: absolute;
}

.vid_mac video {
  left: 121px;
  width: 391px;
  position: relative;
  bottom: 428px;
  padding-bottom: 0;
}

.div1 {
  top: 111px;
  position: relative;
}

.fourth {
  padding-bottom: 60px;
  padding-top: 20px;
  display: flex;
  width: 75vw;
  margin: auto;
}

.sec4img img {
  padding-top: 40px;
  width: 575px;
}

.sec4text h2 {
  color: white;
  font-family: "Martel Sans", sans-serif;
  font-size: 44px;
  font-weight: 900;
  padding-bottom: 15px;
}

.sec4text p {
  color: white;
  font-size: 24px;
  font-weight: 400;
  font-family: "Martel Sans", sans-serif;
}

.faq h2 {
  color: white;
  font-size: 44px;
  font-weight: 900;
  font-family: "Martel Sans", sans-serif;
  text-align: center;
  padding-bottom: 20px;
}

.faq {
  padding-top: 70px;
  width: 76vw;
  margin: auto;
  padding-bottom: 70px;
}

.faq_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(45, 45, 45);
  color: rgb(255, 255, 255);
  padding: 28px;
  font-size: 24px;
  font-weight: 400;
  font-family: "Martel Sans", sans-serif;
  margin-bottom: 10px;
  transition: all 250ms ease-out;
}

.faq_box:hover {
  background-color: #414141;
  cursor: pointer;
}

.email p {
  text-align: center;
  padding-top: 50px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Martel Sans", sans-serif;
  color: white;
  padding-bottom: 20px;
}

.email input {
  font-size: 16px;
  padding: 16px 174px 16px 16px;
  /* font-size: 1.5rem; */
  font-weight: 500;
  /* padding: 0.75rem 1.5rem; */
  color: rgb(255, 255, 255);
  border-radius: 4px;
  border: 2px solid white;
  background: transparent;
}
footer{
  padding: 34px;
  max-width: 60vw;
  margin: auto;
  color: white;
 
}
.footer_items{
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.footer_items a{
  font-size: 14px;
  color: white;
}
.footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.questions{
  padding: 34px 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap')